In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\dbwjd\anaconda3\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import psycopg2
print(psycopg2.__version__)

2.9.10 (dt dec pq3 ext lo64)

In [23]:
# Connect to your postgres DB
conn = psycopg2.connect(
    dbname="testdb",
    user="postgres",
    password="2617",
    host="localhost",
    port="5432"
)

# Open a cursor to perform database operations
cur =  conn.cursor()

In [25]:
# Create a new table
cur.execute("""
CREATE TABLE test(
    id SERIAL PRIMARY KEY,
    num integer,
    data varchar
)
""")

# Commit the changes
conn.commit()

In [33]:
# Insert data into the table
cur.execute("INSERT INTO test (num, data) VALUES (%s, %s)",
            (100, "abc'def"))

# Commit the changes
conn.commit()

In [41]:
# Query the database
cur.execute("SELECT * FROM test;")
rows = cur.fetchall()

# Print all rows
for row in rows:
    print(row)

(1, 100, "abc'def")

In [37]:
cur.execute("DELETE FROM test WHERE id = 2")

In [39]:
conn.commit()

In [43]:
# Close communication with the database
cur.close()
conn.close()

In [83]:
# Connect to your postgres DB
conn = psycopg2.connect(
    dbname="testdb",
    user="postgres",
    password="2617",
    host="localhost",
    port="5432"
)

# Open a cursor to perform database operations
cur =  conn.cursor()

In [53]:
# Create a  new table named departments
cur. execute("""
CREATE TABLE departments(
    id INT PRIMARY KEY,
    name Text
)
""")

conn.commit()

In [55]:
# Insert data into the table
rows= [
    (1, "Sales"),
    (2, "Finance"),
    (3, "Legal"),
]

cur.executemany("INSERT INTO departments (id, name) VALUES (%s, %s)", rows)

conn.commit()

In [85]:
# Query data from both tables

try:
    cur.execute("SELECT * FROM employees;")
    employee_rows = cur.fetchall()
    for row in employee_rows:
        print(row)
    
except Exception as e:
    print("Error:", e)
    conn.rollback()

(2, 'Bob', 26, 'Engineerting')
(3, 'Charlie', 33, 'Marketing')

In [65]:
cur.execute("SELECT * FROM departments;")
department_rows = cur.fetchall()

for row in department_rows:
    print(row)

(1, 'Sales')
(2, 'Finance')
(3, 'Legal')

In [69]:
# update the age
cur.execute("""
UPDATE employees
SET age = 32
WHERE id = 1;
""")

cur.execute("""
UPDATE employees
SET age = 26
WHERE id = 2;
""")

cur.execute("""
UPDATE employees
SET age = 33
WHERE id = 3;
""")

conn.commit()

In [71]:
# delete a record from the employees table
cur.execute("""
DELETE FROM employees
WHERE id = 1;
""")

conn.commit()

In [87]:
# close communication with the database
cur.close()
conn.close()